<div class="error-pagewrap">
    <div class="error-page-int">
        <div class="content-error">
            <div class="hpanel">
                <div class="panel-body shadow p-3 mb-5 bg-white rounded-sm">
                    <div class="text-center m-b-md custom-login">
                        <img width="250px" src="palestin.jpg" alt="">
                    </div>
                    <a style="background-color: white;color:blue;font-weight:bold" href="/auth/google"> <i class="fa fa-google"></i> Login via Google</a>
                    <a style="background-color: white;color:blue;font-weight:bold" href="/auth/facebook"> <i class="fa fa-facebook"></i> Login via Facebook</a>
                </div>
            </div>
        </div>
</div>
</div>